REACT_APP_MAPTILER_API_KEY="YOUR_API_KEY"
REACT_APP_TITLE="Find Brewery"
REACT_APP_DESCRIPTION="Find Brewery is a web application that allows you to find breweries in the United States. You can search for breweries by city, state, and postal code. You can also filter the search results by brewery type."
